.gallary {
    width: 900px;
}

.gallary__list {
    margin: 0;
    padding: 40px 0;
    display: grid;
    gap: 30px;
    grid-template-columns: 160px 190px 160px 160px;
    grid-template-rows: 220px 200px 160px;
}

.gallary__card {
    list-style-type: none;
}

.gallary__card--flat {
    grid-column: span 2;
}

.gallary__card--long {
    grid-row: span 2;
}